<!DOCTYPE html>
<html>
  <head>
    <title>ULTIMATE TRANSPORT</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="">

    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  {% load static %}
  <script src="{% static "map_interface/script.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmN6X2XtBP92I8UJ_jlSo4x02EZ1xhPuE&callback=initMap"
    async defer></script>
  </head>

  <body>
    <div id="map"></div>
  </body>

</html>
