<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" type="text/css"/>

    <!-- <link rel = "stylesheet" type="text/css" href="index.css"> -->

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    {% include 'css.html' %}
    <title>Ultimate Transport</title>
  </head>
  <body>
    <div class='container-fluid'>

        {% block content %}
            
        {% endblock content %}

    </div>  


    {% include 'js.html' %}
  </body>
</html>
